.editor :global(.cm-editor) {
  padding: 0;
}

.editor :global(.cm-focused) {
  outline: none;
}

.editor :global(.cm-content) {
  padding: 0;
  font-family: var(--font-monospace);
  font-size: 12pt;
  line-height: normal;
  caret-color: var(--theme-foreground) !important;
}

.editor :global(.cm-line) {
  padding: 0;
}

.editor :global(.cm-tooltip) {
  background: var(--theme-panel-background);
  border: none;
  border-radius: var(--round-default);
  overflow: hidden;
}

.editor :global(.cm-tooltip-autocomplete) li {
  font-family: var(--font-monospace);
}

.editor :global(.cm-tooltip-autocomplete) li[aria-selected="true"] {
  background: var(--theme-accent) !important;
}

.editor li[aria-selected="true"] :global(.cm-completionIcon),
.editor li[aria-selected="true"] :global(.cm-completionLabel),
.editor li[aria-selected="true"] :global(.cm-completionDetail) {
  color: var(--theme-accent-contrast);
}

.editor :global(.cm-completionIcon) {
  color: var(--theme-label-foreground);
  opacity: 1;
}

.editor :global(.cm-completionLabel) {
  font-weight: normal;
}

.editor :global(.cm-completionDetail) {
  color: var(--theme-foreground-muted);
  font-style: normal;
}

.editor :global(.cm-completionIcon-function ~ .cm-completionDetail) {
  margin-left: 0;
}

.editor :global(.cm-highlight-punctuation),
.editor :global(.cm-highlight-comment) {
  color: var(--theme-foreground-muted);
}

.editor :global(.cm-highlight-ident),
.editor :global(.cm-completionIcon-constant + .cm-completionLabel),
.editor :global(.cm-completionIcon-function + .cm-completionLabel) {
  color: var(--theme-highlight-1);
}

.editor :global(.cm-highlight-argument .cm-highlight-ident),
.editor :global(.cm-highlight-ident .cm-highlight-argument),
.editor :global(.cm-highlight-argument.cm-highlight-ident) {
  color: var(--theme-highlight-2);
}

.editor :global(.cm-highlight-string),
.editor :global(.cm-highlight-number),
.editor :global(.cm-completionIcon-text + .cm-completionLabel) {
  color: var(--theme-highlight-3);
}

.editor :global(.cm-highlight-variable) {
  color: var(--theme-highlight-4);
}

.editor :global(.cm-highlight-url) {
  color: var(--theme-accent-foreground);
}

:global(.mod-key-pressed) .editor :global(.cm-highlight-url):hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Highlight links embedded in comments in the view editor */
:global(.mod-key-pressed) .editor :global(.cm-highlight-url:hover *) {
  color: var(--text-accent-foreground);
}

.editor :global(.cm-checkbox) {
  margin: 0;
  font-size: inherit;
  width: 0.9em;
  visibility: hidden;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editor :global(.cm-checkbox)::before {
  content: " ";
  position: absolute;
  visibility: visible;
  font-size: 8pt;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-badge-background);
  border-radius: var(--round-small);
}

.editor :global(.cm-checkbox):checked:before {
  content: "\2714";
  background: var(--theme-accent);
  color: var(--theme-accent-contrast);
}
