.editor :global(.cm-editor) {
  padding: 0;
}

.editor :global(.cm-focused) {
  outline: none;
}

.editor :global(.cm-content) {
  padding: 0;
  font-family: var(--font-monospace);
  font-size: 12pt;
  line-height: normal;
  caret-color: var(--theme-foreground) !important;
}

.editor :global(.cm-line) {
  padding: 0;
}

.editor :global(.cm-highlight-punctuation) {
  color: var(--theme-foreground-muted);
}

.editor :global(.cm-highlight-ident) {
  color: var(--theme-highlight-1);
}

.editor :global(.cm-highlight-argument) :global(.cm-highlight-ident),
.editor :global(.cm-highlight-ident) :global(.cm-highlight-argument) {
  color: var(--theme-highlight-2);
}

.editor :global(.cm-highlight-string),
.editor :global(.cm-highlight-number) {
  color: var(--theme-highlight-3);
}

.editor :global(.cm-highlight-variable) {
  color: var(--theme-highlight-4);
}
