.button {
  margin: -0.3rem;
  padding: 0.3rem;
  background: none;
  color: var(--theme-label-foreground);
}

.icon {
  width: 1.4rem;
  height: 1.4rem;
}

.style-default:hover {
  color: var(--theme-accent-foreground);
}

.style-danger:hover {
  color: var(--theme-danger-foreground);
}

.size-small > .icon {
  width: 1rem;
  height: 1rem;
  stroke-width: 2.5;
}
