.enter,
.exit,
.move {
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.exit {
  transform: translateY(var(--transition-translate-y, 0));
}

.enterFrom,
.exitTo {
  transform: translate(-1rem, var(--transition-translate-y, 0));
  opacity: 0;
}
