:root {
  --bg-0: #090c13;
  --bg-1: #101521;
  --bg-2: #182238;
  --bg-selection: #324677;
  --text-dim: #222e49;
  --text-badge: #6478a7;
  --text-normal: #c5d1e2;
  --text-active: #7696ff;
}

body {
  margin: 0;
  font-family: "Inter Variable", sans-serif;
  background: var(--bg-0);
  color: var(--text-normal);
}

#app {
  height: 100vh;
}

[data-corvu-resizable-root] {
  height: 100%;
}

[data-corvu-resizable-panel] {
  overflow: hidden;
}

[data-corvu-resizable-handle] {
  background: none;
  border: none;
  padding: 0;
}

[data-corvu-resizable-handle][data-orientation="horizontal"] {
  width: 0.3rem;
  margin-inline: -0.15rem;
}

[data-corvu-resizable-handle][data-orientation="vertical"] {
  height: 0.3rem;
  margin-block: -0.15rem;
}

.icon-button {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.badge {
  background: var(--bg-2);
  color: var(--text-badge);
  font-size: 0.7em;
  display: flex;
  align-items: center;
  height: 1.5em;
  padding: 0 0.3em;
  border-radius: 0.75em;
  margin-inline: 0.5em;
}
