.collapsible-panel-controls {
  position: absolute;
  color: var(--text-dim);
}

.collapsible-panel-controls[data-horizontal-align="left"] {
  left: 0.4rem;
}

.collapsible-panel-controls[data-horizontal-align="right"] {
  right: 0.4rem;
}

.collapsible-panel-controls[data-vertical-align="top"] {
  top: 0.4rem;
}

.collapsible-panel-controls[data-vertical-align="bottom"] {
  bottom: 0.4rem;
}
