:root {
  --theme-accent-click: #597ae6;
  --theme-accent-contrast: #101521;
  --theme-accent-disabled: #586ba9;
  --theme-accent-foreground: #7696ff;
  --theme-accent-hover: #6182ee;
  --theme-accent: #7696ff;
  --theme-background: #090c13;
  --theme-badge-background: #1d2943;
  --theme-badge-foreground: #6478a7;
  --theme-danger-click: #d34f4f;
  --theme-danger-contrast: #220d0d;
  --theme-danger-disabled: #b04f4f;
  --theme-danger-foreground: #ed6c6c;
  --theme-danger-hover: #dd5757;
  --theme-danger: #ed6c6c;
  --theme-dialog-background: rgba(0 0 0 / 20%);
  --theme-foreground: #c5d1e2;
  --theme-foreground-muted: #697a93;
  --theme-highlight-1: #d972f8;
  --theme-highlight-2: #efa079;
  --theme-highlight-3: #a1f68c;
  --theme-highlight-4: #72cce5;
  --theme-inner-background: #090c13;
  --theme-label-foreground: #2c4171;
  --theme-outline-click: #253b6e;
  --theme-outline-disabled: #2a3753;
  --theme-outline-foreground-hover: #101521;
  --theme-outline: #2c4171;
  --theme-panel-background: #101521;
  --theme-scrollbar-foreground: #2c4171;
  --theme-selection-background: #1e3261;
  --round-small: 0.15rem;
  --round-default: 0.3rem;
  --round-full: 9999px;
  --padding-panel: 1rem;
  --translation-curve: cubic-bezier(0, 0, 0.25, 1);
  --font-monospace: "Iosevka Custom", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-accent-contrast: #ecf4fe;
    --theme-accent-disabled: #8aa2f1;
    --theme-accent-foreground: #5079ff;
    --theme-background: #d7e4f5;
    --theme-badge-background: #ecf4fe;
    --theme-badge-foreground: #7c93ca;
    --theme-danger-contrast: #ecf4fe;
    --theme-danger-disabled: #e38585;
    --theme-danger-foreground: #ee5050;
    --theme-foreground: #101521;
    --theme-foreground-muted: #627194;
    --theme-highlight-1: #b914ea;
    --theme-highlight-2: #e06325;
    --theme-highlight-3: #2fb80d;
    --theme-highlight-4: #17a7cf;
    --theme-inner-background: #ecf4fe;
    --theme-label-foreground: #7c93ca;
    --theme-outline-click: #7089c4;
    --theme-outline-disabled: #a4b3d8;
    --theme-outline-foreground-hover: #dce8f7;
    --theme-outline: #7c93ca;
    --theme-panel-background: #e4eefa;
    --theme-scrollbar-foreground: #7c93ca;
    --theme-selection-background: #99b0ff;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--theme-scrollbar-foreground) transparent;
  scrollbar-width: thin;
}

body {
  margin: 0;
  background: var(--theme-background);
  color: var(--theme-foreground);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12pt;
  user-select: none;
}

body::selection {
  background: var(--theme-selection-background);
}
