.sidebar {
  display: flex;
  flex-flow: column nowrap;
}

.sidebar-button {
  margin: 0.4rem;
  border: 0.15rem solid var(--text-dim);
  border-radius: 0.2rem;
  background: none;
  color: var(--text-dim);
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.2em;
  padding: 0.2em;
}

.sidebar-button:hover {
  background: var(--text-dim);
  color: var(--bg-1);
}

.sidebar-button > .lucide-icon {
  stroke-width: 2.5;
}
