.transition-group-enter,
.transition-group-exit {
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.transition-group-move {
  transition: transform 0.2s;
}

.transition-group-enter-from,
.transition-group-exit-to {
  transform: translateX(-1rem);
  opacity: 0;
}
