.view-editor {
  border-left: 0.2rem solid var(--bg-0);
  display: flex;
  flex-flow: column nowrap;
}

[data-orientation="horizontal"][data-collapsed]
  ~ [data-corvu-resizable-panel]
  .view-editor {
  border-left: none;
}

.view-editor-controls {
  display: flex;
  flex-flow: row nowrap;
  padding-inline: 1rem;
  gap: 0.5rem;
  align-items: center;
  color: var(--text-dim);
}

.view-editor-controls > form {
  flex-grow: 1;
}

.view-definition {
  padding: 0.2rem 0.8rem;
  min-height: 0;
}
